@model IEnumerable<AboutUsViewModel>

<section class="about-section-s4 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-3">
                <div class="section-title mt">
                    <span>About us</span>
                    <img src="images/logo-3.png" alt="">
                </div>
                <div class="info">
                    <h3>88123475754</h3>
                    <h4>demo@example.com</h4>
                    <a href="#" class="theme-btn">More About Us</a>
                </div>
            </div>
            <div class="col col-md-5">
                <div class="details-text mt">
                    <h4>Since 1950, we are providing the insurance solution for our client’s and  we are very successfull about</h4>
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look outIt showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer</p>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="features-grid clearfix">
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-money-bag"></i>
                        </div>
                        <h3>Make a Claim</h3>
                        <p>You can claim you money</p>
                    </div>
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-agent"></i>
                        </div>
                        <h3>Find an Agent</h3>
                        <p>Want an agent?</p>
                    </div>
                    <div class="grid">
                        <div class="icon">
                            <i class="fi flaticon-cost"></i>
                        </div>
                        <h3>Pay Premium</h3>
                        <p>Pay your premium now</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
